@model PJBookRental.Models.IndividualButtonPartial

<a type="button" class="btn @Model.ButtonType btn-sm" href="@Url.Action(Model.Action)@Model.ActionParameter">
    <span class="glyphicon glyphicon-@Model.Glyph"></span>
    <span></span>
</a>
